<div class="dialog-container dialog-event">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <h1 mat-dialog-title>Add Event</h1>
    <div mat-dialog-content>
        <div>
            <mat-form-field class="mr-16 full-width" appearance="outline">
                <mat-label>Title</mat-label>
                <input [disabled]="loading" [(ngModel)]="event.title" matInput placeholder="Title">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Schedule Event</mat-label>
                <input [disabled]="loading" [(ngModel)]="dueTo" matInput placeholder="Schedule Event"
                    [matDatepicker]="picker1">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Clients</mat-label>
            <mat-select [(ngModel)]="event.selectedClient" multiple>
                <!-- <mat-select-trigger> -->
                    <!-- {{users.value?.[0] || ''}} -->
                    <!-- <span *ngIf="(users.value?.length || 0) > 1" class="example-additional-selection"> -->
                        <!-- (+{{(users.value?.length || 0) - 1}} {{users.value?.length === 2 ? 'other' : 'others'}}) -->
                    <!-- </span> -->
                <!-- </mat-select-trigger> -->
                <mat-option *ngFor="let user of allUsers" [value]="user">{{user.firstName}} {{user.lastName}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="mt-32">
        <mat-form-field class="mr-16 full-width" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="event.description"></textarea>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button [disabled]="loading" mat-button (click)="dialogRef.close()">Cancel</button>
        <button [disabled]="loading" mat-button (click)="saveEvent()" cdkFocusInitial>Save</button>
    </div>
</div>