.dialog-event {
    min-width: 600px;

    textarea {
        resize: none;
        min-height: 120px;
    }
}
.max-height {
    height: 80px;
    overflow-y: scroll;
}

.dual-fields {
    display: flex;
    align-items: center;
    justify-content: center;
    mat-form-field {
        width: 50%;
    }
}