.add-event-tbn {
    position: absolute;
    right: 56px;
    bottom: 56px;
}

p {
    margin: 0;
}

mat-card {
    padding-left: 0;
    padding-right: 0;
}

.user-table {
    width: 100%;
    border-collapse: collapse;

    tr {
        max-height: 48px;
        height: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);

        &:last-child {
            border-bottom: 0;
        }

        &:first-child {
            cursor: unset;

            &:hover {
                background-color: unset;
            }
        }

        cursor: pointer;

        td {
            height: 48px;
            max-height: 48px;
            max-width: 126px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:first-child {
                padding-left: 16px;
                padding-right: 16px;
            }

            &:last-child {
                padding-right: 18px;
            }
        }

        th {
            &:first-child {
                padding-left: 16px;
                padding-right: 16px;
            }
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.04);
        }
    }

    th {
        color: rgba(0, 0, 0, 0.4);
        font-size: 14px;
        font-weight: 500;
        text-align: start;
    }
}

.max-characters-short {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid gray;
  }

  .red {
    background-color: red;
  }
  .yellow {
    background-color: yellow;
  }
  .green {
    background-color: green;
  }

  .adjust-center {
    display: flex;
    align-items: center;
  }